/* Images */
img {
	max-width: 800px;
}

/* Alerts */
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.alert,
.alert h4 {
    color: #f89406
}
.alert h4 {
    margin: 0
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #008000
}
.alert-success h4 {
    color: #008000
}
.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #9d261d
}
.alert-danger h4,
.alert-error h4 {
    color: #9d261d
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #049cdb
}
.alert-info h4 {
    color: #049cdb
}
.alert-block {
    padding-top: 14px;
    padding-bottom: 14px
}
.alert-block>p,
.alert-block>ul {
    margin-bottom: 0
}
.alert-block p+p {
    margin-top: 5px
}